trigger:
  - master

pool:
  vmImage: "ubuntu-latest"

stages:
  - stage: spektate_ci
    jobs:
      - job: build_and_test
        pool:
          vmImage: "Ubuntu 16.04"
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: "10.x"
            displayName: "Install Node.js"

          - script: |
              yarn install
              yarn lint
              yarn build
            workingDirectory: "./frontend"
            displayName: "Frontend install, lint and build"

          - script: |
              yarn install
              yarn lint
              yarn build
            workingDirectory: "./backend"
            displayName: "Backend install, lint and build"

          - script: |
              set -e
              cd packages/spektate
              yarn
              yarn build
              yarn lint
              yarn test
            displayName: "Spektate build, lint and test"

          - task: PublishCodeCoverageResults@1
            inputs:
              codeCoverageTool: Cobertura
              summaryFileLocation: "$(System.DefaultWorkingDirectory)/**/*coverage.xml"
              reportDirectory: "$(System.DefaultWorkingDirectory)/**/coverage"

      - job: docker_build
        pool:
          vmImage: "Ubuntu 16.04"
        steps:
          - task: Docker@2
            inputs:
              containerRegistry: "spektateacrconnection"
              repository: "spektate"
              command: "buildAndPush"
              Dockerfile: "**/backend/Dockerfile"
              tags: "spektate-backend-$(Build.SourceBranchName)-$(Build.BuildId)"
            condition: ne(variables['Build.Reason'], 'PullRequest')
            displayName: Build backend docker image
          - task: Docker@2
            inputs:
              containerRegistry: "spektateacrconnection"
              repository: "spektate"
              command: "buildAndPush"
              Dockerfile: "**/frontend/Dockerfile"
              tags: "spektate-frontend-$(Build.SourceBranchName)-$(Build.BuildId)"
            condition: ne(variables['Build.Reason'], 'PullRequest')
            displayName: Build frontend docker image
