body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.git-commits {
  margin: 5px 10px 5px 10px;
  font-size: 15px;
  text-align: left;
  line-height: 2;
}
.git-commits div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.git-commits div img {
  width: 20px;
  margin-right: 5px;
}

.commits {
  white-space: nowrap;
  display: inline-block;
  width: 100%;
}

.commits > div {
  float: left;
  width: 45%;
  padding: 20px;
}
.commits:nth-child(1) {
  float: right;
  width: 45%;
  padding: 20px;
}
